.header-flex {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
    align-items: center;
    background-image: radial-gradient(circle at 120.44% 43.84%, #78bbf0 0, #0083c5 25%, #0c99e1 50%, #0075d2 75%, #2a6dd2 100%);

    .title-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2;
    }

    .icon {
        width: 6rem;
        height: 1.5rem;
        cursor: pointer;
    }
}

@media only screen and (max-width: 370px) {
    .title-text {
        display: none;
    }
}

@media only screen and (max-width: 223px) {
    .title-secondary {
        display: none;
    }
}