.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: #1f54c3;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar {
    display: flex;
    justify-content: space-around;
    background-image: radial-gradient(circle at 120.44% 43.84%, #78bbf0 0, #0083c5 25%, #0c99e1 50%, #0075d2 75%, #0054c3 100%);
    color: #fff;
}

.title-text, .title-secondary  {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

.icon {
    width: 6rem;
    height: 1.5rem;
    cursor: pointer;
}

a:hover {
    background-image: radial-gradient(circle at 120.44% 43.84%, #f9f9f9 0, #ffd783 25%, #f3bb43 50%, #f2af27 75%, #f29904 100%) !important;
    color: white;
    font-weight: bold;
}

.selected {
    background-image: radial-gradient(circle at 120.44% 43.84%, #f9f9f9 0, #ffd783 25%, #f3bb43 50%, #f2af27 75%, #f29904 100%) !important;
    color: white;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .toolbar {
        justify-content: start;
    }
}
