<app-header></app-header>
<div>
    <img class="return-icon" routerLink="/" src="https://cdn.pixabay.com/photo/2020/03/22/15/19/arrow-4957487_960_720.png" (click)="close()">
</div>

<div class="box-input" >

    <input class="startNumber-input form-control" type="number" placeholder="Numero inicial..." [(ngModel)]="startNumber" (keyup.enter)="calculate()">
    <input class="endNumber-input form-control" type="number" placeholder="Numero final..." [(ngModel)]="endNumber" (keyup.enter)="calculate()">
    <div class="box-btn-search">
      <span class="material-icons btn-edit" title="Buscar" (click)="calculate()"> search </span>
    </div>
</div>

<div class="gallery">
    <div class="featured animate pop" *ngFor="let number of primeNumbers">

        <div class="card-number">
            {{number}}
        </div>
    
    </div>
</div>

