.text-card {
    width: 100px;
    height: 200px;
}

.gallery {
    padding: 54px;
}

.box-input {
    display: flex;
    justify-content: center;
    padding: 15px 0px;
}

.box-btn-search {
    background-image: radial-gradient(circle at 120.44% 43.84%, #f9f9f9 0, #ffd783 25%, #f3bb43 50%, #f2af27 75%, #f29904 100%);
    width: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    color: white;
}

.search-input {
    width: 150px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid gray;
    padding-left: 15px;
}

.btn-clear {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    color: gray;
    font-size: 12px;
    cursor: pointer;
}

.card-number {
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 400;
}

.startNumber-input, .endNumber-input {
    width: 90px;
}