html, body { 
    height: 100%;
    scroll-behavior: smooth;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.return-icon {
    width: 32px;
    border-radius: 25px;
    position: absolute;
    margin: 10px 20px;
    cursor: pointer;
    padding: 3px;
}

.return-icon:hover {
    background-image: radial-gradient(circle at 120.44% 43.84%, #f9f9f9 0, #ffd783 25%, #f3bb43 50%, #f2af27 75%, #f29904 100%);
}

.gallery {
    display: grid;
    gap: 2rem;
    padding: 23px 45px;
    grid-auto-flow: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    overflow: scroll;
}

.featured {
    grid-column: span 1;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgb(42 22 139 / 12%);
}

.featured:hover {
    box-shadow: 0px 0px 30px 0px #767676
}

.animate {
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-name: animate-fade;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
    animation-fill-mode: both;
}

/* Fade In */
.animate.fade {
    animation-name: animate-fade;
    animation-timing-function: ease;
}

@keyframes animate-fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Pop In */
.animate.pop {
    animation-name: animate-pop;
}

@keyframes animate-pop {
    0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}
