<app-header></app-header>
<div>
    <img class="return-icon" routerLink="/" src="https://cdn.pixabay.com/photo/2020/03/22/15/19/arrow-4957487_960_720.png" (click)="close()">
</div>

<div class="box-input" >
  <div class="btn-clear" *ngIf="showBtnClear">
    <div (click)="clear()">Limpiar</div>
  </div>
  <input class="search-input" type="text" placeholder="Buscar..." [(ngModel)]="searchValue" (keyup.enter)="search()">
  <div class="box-btn-search">
    <span class="material-icons btn-edit" title="Buscar" (click)="search()"> search </span>
  </div>

  <div class="box-nuevo" (click)="new()">
    Nuevo
  </div>
</div>



<div class="gallery" *ngIf="characters && characters.length > 0"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()">

    <div class="featured animate pop" *ngFor="let character of characters">

        <div class="btn-box">
          <button (click)="edit(character)">
            <span class="material-icons btn-edit" title="Editar">
              edit
            </span>
          </button>
        </div>
        
        <div class="image-card">
            <img class="thumbnail" [src]="character.thumbnail">
        </div>

        <div class="description-card">
            <div>
                <b>Nombre:</b> 
                {{character.name}}
            </div>
            <div>
                <b>Descripción:</b>
                {{character.description}}
            </div>

            <div class="updated">
                <div>
                    Actualizado: {{character.modified | date: 'dd/MM/YYYY'}}
                </div>
            </div>
        </div>
        
    </div>
    
</div>

<button class="box-btn-top" *ngIf="showButtonTop" (click)="onScrollTop()">
  <span class="material-icons btn-top" title="Inicio">arrow_upward</span>
</button>

<ngx-spinner [fullScreen]="false" type="ball-scale-multiple"></ngx-spinner>
