<div>
    <img class="return-icon" routerLink="/" src="https://cdn.pixabay.com/photo/2020/03/22/15/19/arrow-4957487_960_720.png" (click)="close()">
</div>

<div class="gallery">

    <div class="featured animate pop" *ngFor="let character of characters">

        <div class="btn-box">
          <button>
            <span class="material-icons btn-edit" title="Editar">
              edit
            </span>
          </button>
        </div>
        
        <div class="image-card">
            <img class="thumbnail" [src]="character.thumbnail">
            
        </div>

        <div class="description-card">
            
            <div>
                <b>Nombre:</b> 
                {{character.name}}
            </div>
            <div>
                <b>Descripción:</b>
                {{character.description}}
            </div>

            <div class="updated">
                <div>
                    Actualizado: {{character.modified | date: 'dd/MM/YYYY'}}
                </div>
            </div>
        </div>
        
    </div>
    
</div>

<button class="box-btn-top">
  <span class="material-icons btn-top" title="Editar">arrow_upward</span>
</button>

<ngx-spinner [fullScreen]="false" type="ball-scale-multiple"></ngx-spinner>
